.layout-container {
  display: flex;
  transition: all 0.3s ease;

  &.collapsed {
    .content {
      margin-left: 60px; // ancho reducido del sidebar
    }
  }

  app-sidebar {
    width: 220px;
    transition: width 0.3s ease;

    &.collapsed {
      width: 60px;
    }
  }

  .content {
    flex: 1;
    padding: 1.5rem;
    background-color: #f1f3f5;
    min-height: calc(100vh - 60px); // considerando header de 60px
    transition: margin-left 0.3s ease;
  }
}

.toggle-sidebar-btn {
  position: fixed;
  top: 65px; // justo debajo del header
  left: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 1000;

  &:hover {
    background-color: #084298;
  }
}
